/* 
*Styling HTML5 Forms
*/
.registration-form {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
}
.form-field {
    width: 100%;
    margin-top: 15px;
}
.form-field label {
    margin-bottom: 10px;
    display: inline-block;
}
.form-field label, .form-field input[type=text], .form-field input[type=email], .form-field input[type=password] {
    width: 95%;
}
.form-field input[type=text], .form-field input[type=email], .form-field input[type=password] {
    padding: 15px;
    font-size: 20px;
    border-style: 1px solid;
    border-radius: 5px;
    border-color: aquamarine;
    outline: none; 
}
.form-field input[type=submit] {
    width: 100%;
    padding: 15px;
    background-color: coral;
    color: #fff;
    font-size: 22px;
}
.form-field input[type=password] {
  
}
